.keyboard__rows-1 {
  @extend %rowsSettings;
}
.keyboard__rows-2 {
  @extend %rowsSettings;
}
.keyboard__rows-3 {
  @extend %rowsSettings;
}
.keyboard__rows-4 {
  @extend %rowsSettings;
}
.keyboard__rows-5 {
  @extend %rowsSettings;
}
.buttons {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-color: $color-btn;
  border: 1px solid $color-letter;
  border-radius: 6px;
  transition: 0.5s;
  &:hover {
    background-color: aqua;
  }
  &:active {
    opacity: 0.5;
  }
}
.key-backspace {
  width: 110px;
}
.key-tab {
  width: 55px;
}
.key-capslock {
  width: 100px;
}
.key-enter {
  width: 100px;
}
.key-shift {
  width: 100px;
}
.key-space {
  width: 377px;
}