.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 15rem;
    border: $color-letter 3px solid;
    border-radius: 20px;
    background-color: $color-keyboard;
    box-shadow: 0px 0px 10px 0px #000000;
}