.text-window {
    width: 50%;
    min-height: 15rem;
    margin: 2rem auto;
    border: none;
    border-radius: 10px;
    box-shadow: -2px -2px 4px rgb(235, 232, 232), 2px 2px 4px rgb(65, 64, 64);
    resize: none;
    white-space: pre-wrap;
}