.text-window {
    width: 50%;
    min-height: 15rem;
    margin: 2rem auto;
    border: $color-letter 3px solid;
    border-radius: 10px;
    box-shadow: -2px -2px 4px rgb(63, 63, 63), 2px 2px 4px rgb(0, 0, 0);
    resize: none;
}